/** our-work.css  **/

.our_work_card{
        width:fit-content;
        height: fit-content;
        background-color: skyblue;
        margin:1vw;
        display:inline-block;
}

.our_work_image{
        
        width:17vw;
        height:17vw;
        background-color: grey;
        margin:1vw;
        border-radius:1vw;
}

.image_text{
        text-align: center;
}